In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./train.csv')

In [3]:
df.head()

,origination_date,loan_amount,annual_interest_rate,repay_date,repay_amount,feature_0,feature_1,feature_2,feature_3,feature_4,...,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29
0,2016-12-01,42000,0.26,2017-12-15,53491.20,0.007000,0.010647,-0.003254,-0.007238,-0.011662,...,-0.003030,-0.005159,0.000346,0.000187,-0.007992,0.002975,0.005373,-0.000248,0.006549,-0.006641
1,2016-11-09,5000,0.28,2018-06-04,7561.75,-0.000041,0.011415,0.004384,-0.008996,0.002066,...,0.000143,-0.008154,-0.005962,0.001324,0.006515,-0.003486,0.007814,0.003318,-0.002650,0.008161
2,2017-07-02,36000,0.28,2017-10-10,0.00,0.004082,0.004537,-0.002671,-0.007624,-0.001350,...,0.004895,-0.002981,-0.003961,0.001056,0.001730,0.003360,0.003102,-0.003024,0.001114,-0.004917
3,2016-04-16,22000,0.20,2017-03-31,26189.85,0.002841,0.002211,-0.003884,-0.001883,-0.006990,...,-0.000413,0.007850,0.003689,-0.002924,-0.003385,-0.001278,0.007600,-0.000669,0.004707,-0.001666
4,2015-01-27,11000,0.20,2015-12-03,13142.29,0.001302,0.007544,0.002545,0.002741,-0.013535,...,-0.005539,-0.001266,-0.009404,0.006549,0.005475,0.000868,0.005376,0.000536,0.001434,-0.003732

#### Calculate Time Elapsed in Days Between 'origination_date' and 'repay_date'